<?xml version="1.0"?>
<robot name="truck">

  <!-- Main truck frame -->
  <link name="base_link">
    <visual>
      <origin xyz="-1 0 0" rpy="0 0 1.5708"/> <!-- Adjust RPY if truck is sideways -->
      <geometry>
        <!-- Path to your STL -->
        <mesh filename="package://lidar_launch/config/Truck_Model.stl" scale="2.5 2.5 2.5"/>
      </geometry>
      <material name="gray">
        <color rgba="0.5 0.5 0.5 1.0"/>
      </material>
    </visual>
  </link>

  <link name="safety_base"/>

  <joint name="base_link_to_safety_base" type="fixed">
    <parent link="base_link"/>
    <child link="safety_base"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <!-- Velodyne VLP-16 visual -->
  <link name="velodyne">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.052" length="0.072"/>
      </geometry>
      <material name="velodyne_black">
        <color rgba="0.02 0.02 0.02 1.0"/>
      </material>
    </visual>
  </link>

  <!-- LiDAR position relative to safety_base/front-bumper frame -->
  <joint name="safety_base_to_velodyne" type="fixed">
    <parent link="safety_base"/>
    <child link="velodyne"/>
    <origin xyz="-0.57 0.0 1.8" rpy="0 0 0"/>
  </joint>

</robot>